@media only screen and (max-width:768px) {
    .car__item h2{
        font-size: 4rem;
    }
    
.car__item button{
    padding: 1rem 4rem;
    margin-left: 10px;
    font-family: var(--karla);
    font-size: 1.2rem;
    border: 0;
    outline: 0;
    transition: all 0.4s linear;
    margin-bottom: 0.8rem;
}
.navbar .nav__bar a{
    display: none;
}

.navbar .nav__bar .fa-magnifying-glass{
    display: none;
}
.nav__bar .fa-bars{
    display: block;
}
.car__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
    margin-top: 6rem;
}
.auto__content{
    display: grid;
    grid-template-columns:100%;
    grid: 3rem;
}
.what__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
}
.what button{
   margin-left: 30%;
}

.t_c{
    display: grid;
    grid-template-columns: 100%;
    grid: 3rem;
}

.us{
    display: none;
}

.map__content{
    display: grid;
    grid-template-columns:100%;
    gap: 3rem;
    width: 100%;
    padding: 3.8rem 0;
}

.send__content{ 
    display: flex;
    flex-direction: column;
    gap: none;
}
}